body {
  background-color: #eee;
  /*background-image: url(https://media.istockphoto.com/photos/confetti-balloons-a10-picture-id493119586?s=2048x2048);*/
  background-image: url(ryb_balloons.png);
}

.logo-header {
}

.logo-header div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.logo-header h1 {
  display: inline-block;
  font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-shadow: 1px 1px 3px #2e3a97, 0 0 10px #b21f24;
  color: #efd31c;
}

h1 { margin: 0px; }

h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #efd31c;
/*  text-shadow: 0px 0px 2px #2e3a97;*/
  margin: 10px 0 0 0;
}

input {
  height: 2em;
  color: #2e3a97;
}

p {
  color: #2e3a97;
  font-size: 16px;
}

.body-boundary {
  max-width: 650px;
  margin: auto;
}

.page-boundary {
  max-width: 100%;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: white;
  overflow: auto;
}


.pagebar {
  margin-bottom: 35px;
}

.pagebar-unselected {
  display: inline-block;
  padding: 10px;
  background-color: #6a76cf;
  color: #afb7f6;
  border: 1px solid white;
}

.pagebar-selected {
  display: inline-block;
  padding: 10px;
  background-color: #efd31c;
  border: 1px solid white;
}


.edit-name {
  display: inline-block;
  margin: 0px 25px 0px 0px;
}

.edit-name>p {
  margin: 20px 0px 0px 0px;
}

.edit-name>input {
  width: 250px;
}



.edit-address {
  margin: 0px 25px 0px 0px;
}

.edit-address>p {
  margin: 20px 0px 0px 0px;
}


.edit-address>input {
  display: block;
  margin-top: 5px;
  width: 330px;
}

.edit-city {
  margin-top: 5px;
  margin-right: 24px;
  width: 150px;
}

.edit-state-prov {
  margin-top: 5px;
  margin-right: 24px;
  width: 150px;
}

.edit-country {
  margin-top: 5px;
  width: 150px;
}


.edit-postal-code {
  margin-top: 5px;
  margin-right: 24px;
  width: 150px;
}


.phones {
/*  float: left;
  clear: both;*/
}

.edit-phone {
  /*float: left;*/
  display: inline-block;
  margin: 0px 25px 0px 0px;
}

.edit-phone>p {
  margin: 20px 0px 0px 0px;
}

.edit-phone>input {
  width: 150px;
}




.edit-email {
  margin: 0px 25px 0px 0px;
}

.edit-email>p {
  margin: 20px 0px 0px 0px;
}

.edit-email>input {
  width: 330px;
}


.button-bar {

}

.button-prev {
  float: left;
  margin-top: 45px;
  border-width: 0;
  background: lightgrey;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 5px 5px 5px 20px;
  font-size: inherit;
  cursor: pointer;
}


.button-next {
  float: right;
  margin-top: 45px;
  border-width: 0;
  background: #efd31c;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 5px 20px 5px 5px;
  font-size: inherit;
  cursor: pointer;
}

.clear {
  float: left;
  clear: both;
}

.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}





.table {
  margin: 20px 0;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}

.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.button-inline {
  border-width: 0;
  background: lightgrey;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 5px 5px 5px 15px;
  font-size: inherit;
  cursor: pointer;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38BB6C;
}