center {
  text-align: center;
}

body {
  background-color: #eee;
  background-image: url(skyballoons.png);   
}

.footer-balloons {
  width: 40px;
  height: 75px;
  margin: 30px auto 0 auto;
  background-image: url(3balloons.gif);
  background-repeat: no-repeat; 
}

.logo-header {
}

.logo-header div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.logo-header h1 {
  display: inline-block;
  font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-shadow: 1px 1px 3px #2e3a97, 0 0 10px #b21f24;
  color: #efd31c;
}

h1 { margin: 0px; }

h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #efd31c;
  text-shadow: 1px 1px 1px #aaaaaa;
  margin: 10px 0 0 0;
}

input {
  height: 24px;
  font-size: 14px;
  color: black;
}

input[type="radio"] {
  height: auto;
}

input[type="checkbox"] {
  height: auto;
  margin-right: 10px;
}

p {
  color: #2e3a97;
  font-size: 16px;
}

.invisible {
  visibility: hidden;
}

.indent {
  margin-left: 20px;
}

.indent-twice {
  margin-left: 40px;
}

.inline-info {
  display: inline-block;
  padding-left: 30px;
}

.v-indent {
  margin-top: 1.5em;
}

.v-indent-twice {
  margin-top: 2em;
}

.v-indent-below {
  margin-bottom: 1.25em;
}



.select-height {
  line-height: 40px;
  height: 40px;
}

.select-middle {
  padding-top: 10px;
}

.tall {
  height: 35px;
}

.bold {
  color: #2e3a97;
  font-weight: bold;
}

.btn {
  background-color: lightgray;
  border-width: 1px;
  color: blue;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  cursor: pointer;
}

.btn:hover {
  background-color: lightblue;
  border-width: 1px;
  color: blue;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  cursor: pointer;
}

/*.remb-row {
  margin-left: 20px;
}*/

.body-boundary {
  max-width: 900px;
  margin: auto;
}

.page-boundary {
  max-width: 100%;
  /*min-height: 400px;*/
  padding: 20px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: white;
  overflow: auto;
}

.greyed-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10000px;
  background-color: rgba(0,0,0,0.4);

}

.loading {
  width: 224px;
  height: 300px;
  margin: auto;
  margin-top: 200px;
  background-image: url(loading.gif);
  background-repeat: no-repeat;
}

.pagebar {
  margin-bottom: 35px;
}

.pagebar-unselected {
  display: inline-block;
  padding: 12px 15px;
  background-color: #6a76cf;
  color: #afb7f6;
  border: 1px solid white;
}

.pagebar-selected {
  display: inline-block;
  padding: 12px 15px;
  background-color: #efd31c;
  border: 1px solid white;
}


.edit-input-1col {
  display: inline-block;
  margin: 6px 25px 0px 0px;
  width: 150px;
}

.edit-input-2col {
  display: inline-block;
  margin: 6px 25px 0px 0px;
  width: 325px;
}

.row-num {
  display: inline-block;
  margin: 0;
  width: 30px;
  padding-right: 15px;
  text-align: right;
}


.welcome>h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 1em;
}

.welcome>p {
  text-align: center;
  margin: 0 50px 1em 50px;
}

.welcome-button-pos {
  margin: 40px auto;
  text-align: center;
}

.welcome-button {
  /*display: inline-block;*/
  /*margin: 30px auto;*/
  background-color: #efd31c;
  color: blue;
  border: 4px solid lightgray;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}

.welcome-button:hover {
  background-color: #ebe096;
}


.inline {
  display: inline-block;
}

.radio-yes {
  margin: 0 20px 0 15px;
}

.photo-waiver-checkbox {
  position: absolute;
  vertical-align: top;
  padding-right: 10px;
}

.photo-waiver {
  width: 75%;
}

.photo-waiver-blurb {
  margin: 10px 0;
}

/*.edit-age {
  display: inline-block;
  margin: 0px 25px 0px 0px;
}

.edit-age>p {
  margin: 20px 0px 0px 0px;
}

.edit-age>input {
  width: 30px;
}*/

.attendee-row {
  margin-top: 20px;
}

.edit-people, .edit-diagnosis {
  display: inline-block;
  margin: 0 25px 0 0;
}

.soft-angel-date {
  display: inline-block;
  margin-top: 10px;
}


.add-person-btn {
  padding: 40px 0 0 20px;
}

.edit-age {
  display: inline-block;
  width: 150px;
  margin: 0 25px 0 0;
}

.edit-address {
  margin: 0px 25px 0px 0px;
}

.edit-address>p {
  margin: 20px 0px 0px 0px;
}

.edit-address>input {
  display: block;
  margin-top: 5px;
  width: 330px;
}

.edit-city {
  margin-top: 5px;
  margin-right: 24px;
  width: 150px;
}

.edit-state-prov {
  margin-top: 5px;
  margin-right: 24px;
  width: 150px;
}

.edit-country {
  margin-top: 5px;
  width: 150px;
}

.edit-postal-code {
  margin-top: 5px;
  margin-right: 24px;
  width: 150px;
}

.edit-checkbox {
  height: 1em;
}

.phones {
/*  float: left;
  clear: both;*/
}

.edit-phone {
  /*float: left;*/
  display: inline-block;
  margin: 0px 25px 0px 0px;
}

.edit-phone>p {
  margin: 20px 0px 0px 0px;
}

.edit-phone>input {
  width: 150px;
}

.other-diag {
  margin: 3px 0 0 0;
  display: inline-block;
  width: 300px;
}

.remembrance {
  margin: 20px 0 40px 0;
}

.remb-name {
  display: inline-block;
  padding-left: 10px;
  width: 200px;
}

.cost-descr {
  display: inline-block;
  padding-left: 10px;
  width: 225px;
}

.cost-descr-right {
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
  width: 205px;
  text-align: right;
}

.donation {
  display: inline-block;
  padding-left: 10px;
  width: 200px;
}

.donation-box {
  margin: 3px 0 0 0;
  display: inline-block;
  width: 60px;
}

.checkout-btn {
  padding: 30px 0 0 10px;
  width: 305px;
  text-align: right;
}

.pay-by-check {
  display: inline-block;
  font-size: 75%;
  width: 150px;
  text-align: center;
}

.edit-remb-lunch, .edit-shirt-size {
    display: inline-block;
}

.chapter-chair {
  margin: 30px 0 30px 0;
}

.chair-row, .picnic-row {
  margin: 15px 0 0 20px;
}

code {
  font-size: 16px;
}

.small-gap {
  display: inline-block;
  width: 20px;
}


.shirt-select {
  display: inline-block;
  margin: 6px 25px 0px 5px;
  width: 150px;
}

.shirt-ordered {
  display: inline-block;
  margin: 6px 30px 0px 0px;
  width: 60px;
}

.shirt-size {
  display: inline-block;
  margin: 6px 10px 0px 15px;
  width: 100px;
}

.shirt-total {
  display: inline-block;
  margin: 6px 0px 0px 0px;
  width: 60px;
}

.cost {
  display: inline-block;
  width: 65px;
  text-align: right;
}

.special-needs-box {
  width: 90%;
  font-size: 1em;
}

.summary {
  font-family: monospace, monospace;      /* Double monospace fixes Firefox browser bug */
  font-size: 14px;
}

.button-bar {

}

.button-prev {
  float: left;
  margin-top: 45px;
  border-width: 0;
  background: lightgrey;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 5px 10px 5px 10px;
  font-size: inherit;
  cursor: pointer;
}


.button-next {
  float: right;
  margin-top: 45px;
  border-width: 0;
  background: #efd31c;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 5px 10px 5px 10px;
  font-size: inherit;
  cursor: pointer;
}

.clear {
  float: left;
  clear: both;
}

.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}

.Showcase__style__handle {
  position: relative;
  top: 1px;
  display: block;
  width: 18px;
  height: 11px;
  opacity: .25;
  margin-right: 20px;
  cursor: row-resize;
}

.sortable-container {
  padding-top: 15px;
  padding-bottom: 20px;
}

.thumb-color {
  color: blue;
  padding: 0 5px;
}

.drag-thumb {
  color: blue;
  padding: 0 15px;
}

.drag-item {
  width: 350px;
  height: 35px;
  display: block;
  padding-top: 10px;
  border: 1px solid lightgray;
  color: black;
  background-color:rgba(240,240,240,.7);
}

.clinic-name {
  display: inline-block;
  width: 200px;
}

.clinic-choice {
  font-size: 80%;
  color: green;
}


/* Admin styles */

/*.ui-widget-header {
  border: none;
  border-bottom: 1px solid #aaa;
  background: white; 
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-tabs .ui-tabs-nav li {
  margin: 1px .25em 0 .25em;
}*/

#admin-nav-bar {
  width: 100%;
  border-bottom: 1px solid #aaa;
  margin: 15px 0 40px 0;
}

.admin-btn, .admin-btn:visited {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  color: black;
  display: inline-block;
  margin-left: 1em;
  padding: 5px 15px 5px 15px;
  border: 1px solid #aaa;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  background-color: #F3F7FD;
  text-decoration: none;
}

.admin-btn:hover {
  background-color: #ffffff;
}

.admin-btn-active, .admin-btn-active:visited {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  color: black;
  margin-left: 1em;
  padding: 5px 15px 6px 15px;
  border: 1px solid #aaa;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  position: relative; top: 0px;
  background-color: white;
  text-decoration: none;
}

.admin-body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  text-align: left;
}

.admin-body a {
  color: darkblue;

}
.admin-body a:visited {
  color: darkblue;
}

.admin-indent {
  display: inline-block;
  margin: 0 15px;
}

.admin-twice-indent {
  display: inline-block;
  margin: 0 30px;
}

.admin-linespace-before {
  display: inline-block;
  padding-top: 0.5em;
}

.admin-linespace-after {
  display: inline-block;
  padding-bottom: 0.33em;
}

.admin-name {
  display: inline-block;
  width: 200px;
}


/* Handle screen size adjustments */

@media screen and (max-width: 720px) {

  .inline-info {
    display: inline-block;
    padding-left: 0px;
  }
  
}

@media screen and (max-width: 500px) {

  body, p {
    font-size: 14px;
  }
  .row-num {
    display: block;
    margin-top: 25px;
    text-align: left;
  }

  .indent {
    margin-left: 5px;
  }

  .indent-twice {
    margin-left: 10px;
  }

  .sortable-container {
    padding-left: 5px;
  }

  .pagebar {
    display: none;
  }

}
